<div>
    <div class="main-content-head"><h4>备付金合作银行</h4></div>

    <div class="main-content-body">
        <div class="report-head">
            <div class="report-head-item">
                <label>选择银行</label>
                <select name="bank" ms-on-change="@selectBank()">
                    <option ms-for="(index, bank) in @data.bankList"
                            ms-attr="{'value': index}">
                        {{bank.bank_name}}
                    </option>
                </select>
            </div>

            <div class="report-head-item">
                <label>选择月份</label>
                <a href="#monthpicker" id="monthpicker"></a>
                <!--<button ms-click="@submit()"
                        ms-if="@data.bankList[@data.selectedBankIndex].bank_name!='中国建设银行'
                            || @data.bankList[@data.selectedBankIndex].bank_name!='中信银行'">
                    报送
                </button>-->
                <button ms-click="@downloadAll()">下载全部</button>
            </div>

            <div class="report-head-item"
                 ms-visible="@showBankSelect()">
                <label>报表类型</label>
                <select name="report-type" ms-on-change="@selectReportType()">
                    <option ms-for="(index, reportType) in @data.reportTypeList"
                            ms-attr="{'value': index}">
                        {{reportType.label}}
                    </option>
                </select>
            </div>

            <div class="report-head-item"
                 ms-for="(bankIndex, bank) in @data.bankList"
                 ms-visible="@showAccountSelect(bankIndex)">
                <label>选择账户</label>
                <select name="account" ms-on-change="@selectAccount(bankIndex)">
                    <option ms-for="(index, account) in @data.bankList[bankIndex].account_list"
                            ms-attr="{'value': index}">
                        {{account.account_no}}
                    </option>
                </select>
            </div>
        </div>

        <div class="report-body">
            <div class="operation">
                <div><button ms-click="@batchGenerate()">批量生成</button></div>
                <div class="right">
                    <input type="text" placeholder="可按报表类型检索" id="filter">
                    <button class="search-button" ms-click="@filter()"></button>
                </div>
            </div>
            <table>
                <thead>
                <tr>
                    <th>
                        <input name="check-all" type="checkbox" ms-click="@checkAll()"/>&nbsp;&nbsp;全选
                    </th>
                    <th>报表</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr ms-for="(index, report) in @data.reportList">
                        <td>
                            <input type="checkbox"
                                   name="check-one"
                                   ms-click="@checkOne()"/>
                        </td>
                        <td>{{report.report_name}}</td>
                        <td ms-if="report.report_status==1">
                            <img class="icon" src="../image/round_check_fill.png">已生成
                        </td>
                        <td ms-if="report.report_status==0">
                            <img class="icon" src="../image/round_close_fill.png">未生成
                        </td>
                        <td>
                            <button ms-click="@generate(index)">生成</button>
                            <button ms-if="report.report_status==0" disabled>下载</button>
                            <button ms-if="report.report_status==1" ms-click="@download(report.report_name)">下载</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>