<?xml version="1.0" encoding="UTF-8"?>
<configuration >
	<property name="AppName" value="com.qdb" />

	<!-- 控制台日志 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level:%msg at %logger{36}[%file:%line][%thread]%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!--log日志 -->
	<appender name="logFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- provmgr应为系统的简称 -->
		<File>/opt/application/provmgr/log/info/info.log</File>
		<encoder>
			<pattern>%date %level[%thread] %msg at %logger{36}[%file:%line]%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- provmgr应为系统的简称 -->
			<fileNamePattern>/opt/application/provmgr/log/info/%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	<!-- 错误日志 -->
	<appender name="errorFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- provmgr应为系统的简称 -->
		<File>/opt/application/provmgr/log/error/error.log</File>
		<encoder>
			<pattern>%date %level[%thread] %msg at %logger{36}[%file:%line]%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- provmgr应为系统的简称 -->
			<fileNamePattern>/opt/application/provmgr/log/error/%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<!-- 日志过滤器 ,只输出error级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 数据库访问较慢的语句 -->
	<appender name="slowsqlFile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- provmgr应为系统的简称 -->
		<File>/opt/application/provmgr/log/slow/slow.log</File>
		<encoder>
			<pattern>%date %level[%thread] %msg at %logger{36}[%file:%line]%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- provmgr应为系统的简称 -->
			<fileNamePattern>/opt/application/provmgr/log/slow/%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="false" level="DEBUG">
		<appender-ref ref="slowsqlFile" />
	</logger>

	<!-- JMX管理，logback支持使用JMX随时重载logback.xml或者单独设置某个package的level 如有需要可以打开配置
	<jmxConfigurator />
	<logger name="org" level="DEBUG" />
	<logger name="com.qdb">
		<level value="DEBUG" />
	</logger>
	<logger name="org.springframework">
		<level value="DEBUG" />
	</logger>-->

	<!-- 
	level 用来设置打印级别，大小写无关：TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF，还有一个特俗值INHERITED或者同义词NULL，代表强制执行上级的级别。
	-->

	<!-- 设置默认的日志级别和输出 -->
	<root level="INFO">
		<appender-ref ref="stdout" />
		<!-- <appender-ref ref="errorFile" />
		<appender-ref ref="logFile" /> -->
	</root>

</configuration>
