.content {
	min-height: 500px;
	margin: 0 auto;
    padding-bottom: 50px;
    overflow:auto;

    .left-menu {
        width: 180px;
        display: inline-block;
        position: absolute;
        background-color: #293038;
        top: 70px;
        bottom: 0;

        ul {
            li {
                width: 180px;
                min-height: 40px;
                position: relative;
                text-align: center;

                &.active {
                    &>a {
                        background-color: #0099cc;

                        &:hover {
                            background-color: #0099cc;
                        }
                    }
                }

                a {
                    width: 160px;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 20px;
                    margin: 0 auto;
                    display: inline-block;
                    text-align: left;
                    color: #fff;
                    font-size: 12px;
                    cursor: pointer;

                    img {
                        width: 10px;
                        margin-right: 5px;
                    }

                    &:hover {
                        background-color: #394555;
                    }

                    &.sub-menu {
                        padding-left: 40px;
                        width: 140px;
                    }
                }
            }

            &.sub-menu {
                li {
                    a {
                        width: 160px;
                        padding-left: 40px;
                    }
                }
            }
        }
    }

	.main-content {
		width: 100%;
		display: inline-block;

        &>div {
            margin-left: 200px;
            margin-top: 20px;
            margin-right: 20px;
            background-color: #fff;
            min-height: 500px;
        }

        .main-content-head {
            height: 30px;
            line-height: 30px;
            padding: 15px 0;
            padding-left: 15px;

            &>h4 {
                float: left;
                font-size: 16px;
            }
        }

        .main-content-body {
            padding: 0 18px;
            background-color: #FFF;

            &.front-service-log {
                padding: 18px;

                .report-body {
                    border: 1px solid #ddd;
                    height: 300px;
                    overflow-y: auto;
                    padding-left: 40px;
                    font-size: 12px;
                }
            }

            .report-head {
                margin-top: 20px;

                .report-head-item {
                    line-height: 50px;
                    font-size: 14px;

                    label {
                        display: inline-block;
                        width: 100px;
                        text-align: right;
                        padding-right: 15px;
                    }

                    select {
                        width: 300px;
                        height: 30px;
                    }

                    input {
                        width: 300px;
                        height: 30px;

                        &.datetime-picker {
                            width: 130px;
                            margin-right: 5px;
                        }
                    }

                    .datetime-separator {
                      width: 22px;
                      display: inline-block;
                      vertical-align: middle;
                      border-color: #999;
                      margin-right: 5px;
                    }

                    button {
                        width: 100px;
                        height: 30px;
                        margin-left: 10px;
                        background-color: #2D73A0;
                        border: none;
                        cursor: pointer;
                        color: #fff;
                    }
                }
            }

            .report-body {
                margin-top: 20px;
                margin-bottom: 20px;

                .operation {
                    &>div {
                        display: inline-block;

                        &.right {
                            float: right;
                        }

                        input {
                            width: 300px;
                            height: 26px;
                            vertical-align: top;
                        }

                        button {
                            width: 100px;
                            height: 30px;
                            background-color: #2D73A0;
                            border: none;
                            cursor: pointer;
                            color: #fff;
                            vertical-align: top;

                            &.search-button {
                                width: 30px;
                                height: 30px;
                                background-color: #fff;
                                background-image: url(../image/search.png);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size:20px 20px;
                                border: 1px solid #ddd;
                            }
                        }
                    }
                }

                table {
                    width: 100%;
                    margin-top: 5px;

                    &.b2e-table {
                        display: block;
                        overflow-x: auto;
                    }

                    thead {
                        border-top: 2px solid #ddd;
                        border-bottom: 2px solid #ddd;
                        height: 35px;
                        line-height: 35px;

                        th {
                            text-align: left;
                            padding-left: 50px;
                        }
                    }

                    tbody {
                        tr {
                            height: 35px;
                            line-height: 35px;
                            border-bottom: 1px solid #ddd;

                            td {
                                text-align: left;
                                padding-left: 50px;

                                a {
                                    cursor: pointer;
                                    color: #2D73A0;
                                }

                                .icon {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 5px;
                                }

                                button {
                                    width: 50px;
                                    margin-right: 10px;
                                    background-color: #2D73A0;
                                    border: none;
                                    cursor: pointer;
                                    color: #fff;

                                    &:disabled {
                                        background-color: #999;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
	}
}